<!DOCTYPE html>
<html lang="en">
<head>
    <style>
       
        .nav-link:hover {
            
              color: red!important; /* Change to your desired text color on hover */
        } 
        .nav-link{
            
            font-weight: bold !important;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
         
            font-size: 1.3rem!important;
        }

        
    </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    
    <title>Edit Employee Details</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-color py-4 pt-lg-5">
        <div class="container">
            <a class="navbar-brand text-white fw-bold" href="#">
                <img src="https://gvitechnology.com/images/logo.png" style="width: 100px; height: 50px;" alt="Logo">
            </a>
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler"
                    data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="nav-link text-primary dropdown-toggle" href="#" role="button" id="navbarDropdownMIS"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                MIS
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMIS">
                                <li><a class="dropdown-item" href=""></a></li>
                                <li><a class="dropdown-item" href=""></a></li>
                                <li><a class="dropdown-item" href=""></a></li>
                            </ul>
                        </div>
                    </li>
    
            
                    <li class="nav-item ms-3">
                        <div class="dropdown">
                            <a class="nav-link text-primary dropdown-toggle" href="#" role="button" id="navbarDropdownPayRoll"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Pay Roll
                            </a>
               
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownPayRoll">
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle" href="#"><i class="fa-regular fa-calendar-days"></i> Holidays</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{% url 'create_holidays' %}">Create Holidays</a></li>
                                        <li><a class="dropdown-item" href="#">Holidays List</a></li>
                                        <li><a class="dropdown-item" href="#">Employee Holidays</a></li>
                                        <!-- Add more options as needed -->
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle" href="#">
                                        <i class="fas fa-light fa-stopwatch"></i> Time Sheets
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{% url 'attendance_process' %}">Process Attendance</a></li>
                                        <li><a class="dropdown-item" href="#">Attendance Approval</a></li>
                                        <!-- Add more options as needed -->
                                    </ul>
                                </li>
                                
                            
                                <li><a class="dropdown-item" href="">Salary</a></li>
                            </ul>
                        </div>
                    </li>
    
                    <li class="nav-item ms-3"> 
                        <div class="dropdown">
                            <a class="nav-link text-primary dropdown-toggle" href="#" role="button" id="navbarDropdownEmployees"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-users"></i> Employees
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownEmployees">
                                <li><a class="dropdown-item" href="{% url 'emp_det' %}"><i class="fa-solid fa-user-plus"></i> Create Employee</a></li>
                                <li><a class="dropdown-item" href="{% url 'empemployee_list' %}"><i class="fa-solid fa-list"></i> Employee List</a></li>
                                <li><a class="dropdown-item" href="{% url 'add_salary' %}"><i class="fa-solid fa-comments-dollar"></i> Employee Salary</a></li>
                            </ul>
                        </div>
                    </li>
                  
                    <li class="nav-item ms-3"> 
                        <div class="dropdown">
                            <a class="nav-link text-primary dropdown-toggle" href="#" role="button" id="navbarDropdownReports"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Reports
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownReports">
                                <li><a class="dropdown-item" href="">Employee Report</a></li>
                                <li><a class="dropdown-item" href="">Holidays Report</a></li>
                                <li><a class="dropdown-item" href="">Salary Report</a></li>
                            </ul>
                        </div>
                    </li>
                   
    
                </ul>
            </div>
        </div>
    </nav>
    
   
    


<div class="container mt-4">
    <div class="card">
        <div class="card-body shadow">
           
                <h5 class="card-title text-center">Update Employee</h5>
                 <hr>

                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                            <label for="emp_name" class="form-label">Employee Name</label>
                            <input type="text" name="emp_name" value="{{ employee.employee_name }}" class="form-control" placeholder="Enter your name" required>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="emp_designation" class="form-label">Employee Designation</label>
                            <input type="text" name="emp_designation" value="{{ employee.employee_designation }}" class="form-control" placeholder="Designation" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="emp_num" class="form-label">Phone Number</label>
                            <input type="text" name="emp_num" pattern="[0-9]{10}" value="{{ employee.employee_phn_num }}" class="form-control" placeholder="Enter 10-digit phone number" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="emp_email" class="form-label">Email ID</label>
                            <input type="email" name="emp_email" value="{{ employee.employee_email }}" class="form-control" placeholder="Enter your email" required>
                        </div>
                    </div>
                </div>

                        <div class="mb-3">
                            <label for="emp_address" class="form-label">Address</label>
                            <input type="text" name="emp_address" value="{{ employee.employee_address }}" class="form-control" placeholder="Address" required>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                        <div class="mb-3" name="jobcity">
                            <label for="employee_state">State</label>
                            <select class="form-control" id="employee_state" name="emp_state" required>
                                <option value="Andaman and Nicobar Islands" {% if employee.employee_statestate == "Andaman and Nicobar Islands" %}selected{% endif %}>Andaman and Nicobar Islands</option>
                                <option value="Andhra Pradesh" {% if employee.employee_state == "Andhra Pradesh" %}selected{% endif %}>Andhra Pradesh</option>
                                <option value="Arunachal Pradesh" {% if employee.employee_state == "Arunachal Pradesh" %}selected{% endif %}>Arunachal Pradesh</option>
                                <option value="Assam" {% if employee.employee_state == "Assam" %}selected{% endif %}>Assam</option>
                                <option value="Bihar" {% if employee.employee_state == "Bihar" %}selected{% endif %}>Bihar</option>
                                <option value="Chandigarh" {% if employee.employee_state == "Chandigarh" %}selected{% endif %}>Chandigarh</option>
                                <option value="Chhattisgarh" {% if employee.employee_state == "Chhattisgarh" %}selected{% endif %}>Chhattisgarh</option>
                                <option value="Dadra and Nagar Haveli and Daman and Diu" {% if employee.employee_state == "Dadra and Nagar Haveli and Daman and Diu" %}selected{% endif %}>Dadra and Nagar Haveli and Daman and Diu</option>
                                <option value="Delhi (National Capital Territory of Delhi)" {% if employee.employee_state == "Delhi (National Capital Territory of Delhi)" %}selected{% endif %}>Delhi</option>
                                <option value="Goa" {% if employee.employee_state == "Goa" %}selected{% endif %}>Goa</option>
                                <option value="Gujarat" {% if employee.employee_state == "Gujarat" %}selected{% endif %}>Gujarat</option>
                                <option value="Haryana" {% if employee.employee_state == "Haryana" %}selected{% endif %}>Haryana</option>
                                <option value="Himachal Pradesh" {% if employee.employee_state == "Himachal Pradesh" %}selected{% endif %}>Himachal Pradesh</option>
                                <option value="Jammu and Kashmir" {% if employee.employee_state == "Jammu and Kashmir" %}selected{% endif %}>Jammu and Kashmir</option>
                                <option value="Jharkhand" {% if employee.employee_state == "Jharkhand" %}selected{% endif %}>Jharkhand</option>
                                <option value="Karnataka" {% if employee.employee_state == "Karnataka" %}selected{% endif %}>Karnataka</option>
                                <option value="Kerala" {% if employee.employee_state == "Kerala" %}selected{% endif %}>Kerala</option>
                                <option value="Lakshadweep" {% if employee.employee_state == "Lakshadweep" %}selected{% endif %}>Lakshadweep</option>
                                <option value="Ladakh" {% if employee.employee_state == "Ladakh" %}selected{% endif %}>Ladakh</option>
                                <option value="Madhya Pradesh" {% if employee.employee_state == "Madhya Pradesh" %}selected{% endif %}>Madhya Pradesh</option>
                                <option value="Maharashtra" {% if employee.employee_state == "Maharashtra" %}selected{% endif %}>Maharashtra</option>
                                <option value="Manipur" {% if employee.employee_state == "Manipur" %}selected{% endif %}>Manipur</option>
                                <option value="Meghalaya" {% if employee.employee_state == "Meghalaya" %}selected{% endif %}>Meghalaya</option>
                                <option value="Mizoram" {% if employee.employee_state == "Mizoram" %}selected{% endif %}>Mizoram</option>
                                <option value="Nagaland" {% if employee.employee_state == "Nagaland" %}selected{% endif %}>Nagaland</option>
                                <option value="Odisha" {% if employee.employee_state == "Odisha" %}selected{% endif %}>Odisha</option>
                                <option value="Puducherry" {% if employee.employee_state == "Puducherry" %}selected{% endif %}>Puducherry</option>
                                <option value="Punjab" {% if employee.employee_state == "Punjab" %}selected{% endif %}>Punjab</option>
                                <option value="Rajasthan" {% if employee.employee_state == "Rajasthan" %}selected{% endif %}>Rajasthan</option>
                                <option value="Sikkim" {% if employee.employee_state == "Sikkim" %}selected{% endif %}>Sikkim</option>
                                <option value="Tamil Nadu" {% if employee.employee_state == "Tamil Nadu" %}selected{% endif %}>Tamil Nadu</option>
                                <option value="Telangana" {% if employee.employee_state == "Telangana" %}selected{% endif %}>Telangana</option>
                                <option value="Tripura" {% if employee.employee_state == "Tripura" %}selected{% endif %}>Tripura</option>
                                <option value="Uttar Pradesh" {% if employee.employee_state == "Uttar Pradesh" %}selected{% endif %}>Uttar Pradesh</option>
                                <option value="Uttarakhand" {% if employee.employee_state == "Uttarakhand" %}selected{% endif %}>Uttarakhand</option>
                                <option value="West Bengal" {% if employee.employee_state == "West Bengal" %}selected{% endif %}>West Bengal</option>
                            </select>
                        </div>
                    </div>
            
            
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="emp_city" class="form-label">City</label>
                            <input type="text" name="emp_city" value="{{ employee.employee_city }}" class="form-control" placeholder="Enter your city name" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="emp_pincode" class="form-label">Pincode</label>
                            <input type="text" name="emp_pincode" pattern="[0-9]{6}" value="{{ employee.employee_pincode }}" class="form-control" placeholder="Enter 6-digit Pincode" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="emp_salary" class="form-label">Salary</label>
                            <input type="number" name="emp_salary" step="0.01" value="{{ employee.employee_salary }}" class="form-control" placeholder="Per Annum" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="emp_field" class="form-label">Employee Field</label>
                            <input type="text" name="emp_field" value="{{ employee.employee_field }}" class="form-control" placeholder="Field" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="">Profile Image:</label>
                            {% if employee.employee_image %}
                            <p>Current Profile Image:</p>
                            <img src="{{ employee.employee_image.url }}" alt="Employee Image" class="img-thumbnail rounded-circle" style="width: 70px; height: 70px;">
                            {% endif %}
                        
                            <input type="file" class="form-control-file" id="emp_image" name="emp_image">
                        </div>
                    </div>
                </div>

                        <button type="submit" class="btn btn-primary btn-block col-md-12">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('.dropdown-submenu a.dropdown-toggle').on("click", function(e){
            $(this).next('ul').toggle();
            e.stopPropagation();
            e.preventDefault();
        });
    });
</script>

<!-- Optional JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
